# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp
*.temp

# Игнорировать папку dist (если вы компилируете TypeScript)
dist/

# Игнорировать файлы окружения (например, .env)
.env
.env.local

# Игнорировать зависимости (если используете npm или yarn)
package-lock.json
yarn.lock

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать папку coverage (если используете тесты)
coverage/