doctype html
html
  head
    style.
      .header { color: #2d3436; }
  body
    h1.header Hi #{firstName},
    p Welcome to our amazing community! 🎉
    p We're excited to have you on board.
    if url
      a(href=`${url}`) Verify your account